In [5]:
#6. Create a list(friend_names) with your friends names(atleaste 10 names)?
#print all names with in loop 
#Expected Output: my friend name is "ravi"
#		     my friend name is "shanker"

In [13]:
friends_names=["prasanna","swati","durga","jayasri","parvin","shabana","santosh","mouni","supraja","supriya"]
for p in friends_names:
    print("**** my friends_names is *****",p)

**** my friends_names is ***** prasanna
**** my friends_names is ***** swati
**** my friends_names is ***** durga
**** my friends_names is ***** jayasri
**** my friends_names is ***** parvin
**** my friends_names is ***** shabana
**** my friends_names is ***** santosh
**** my friends_names is ***** mouni
**** my friends_names is ***** supraja
**** my friends_names is ***** supriya

In [7]:
#7. Create a list(family_members) with your family members names(atleaste 10 names)?
#print all names with in loop

In [12]:
family_members=["sunil","siri","govardan","raja","samba","abi","nani","nikita","devi","chinni"]
for p in family_members:
    print("@@@@ my family_members is @@@@",p)

@@@@ my family_members is @@@@ sunil
@@@@ my family_members is @@@@ siri
@@@@ my family_members is @@@@ govardan
@@@@ my family_members is @@@@ raja
@@@@ my family_members is @@@@ samba
@@@@ my family_members is @@@@ abi
@@@@ my family_members is @@@@ nani
@@@@ my family_members is @@@@ nikita
@@@@ my family_members is @@@@ devi
@@@@ my family_members is @@@@ chinni

In [9]:
#8. Create a list(food_names) with your favorite food names(atleaste 10 names only veg)?
#print all names with in loop

In [11]:
food_names=["lemonrice","curdrice","ladyfingers","potato","pongal","sambar","tamato curry","capsicam","cabbage","beans poriyal"]
for p in food_names:
    print("$$$ food_names is $$$",p)

$$$ food_names is $$$ lemonrice
$$$ food_names is $$$ curdrice
$$$ food_names is $$$ ladyfingers
$$$ food_names is $$$ potato
$$$ food_names is $$$ pongal
$$$ food_names is $$$ sambar
$$$ food_names is $$$ tamato curry
$$$ food_names is $$$ capsicam
$$$ food_names is $$$ cabbage
$$$ food_names is $$$ beans poriyal

In [15]:
#9. Create a tuple(food_names) with your favorite food names(atleaste 10 names only nonveg)?
#print all names with in loop

In [16]:
food_names=("chicken","mutton","francebiryani","fishfry","eggfry","chicken biryani","mutton biryani","crab curry","france fry","egg biryani")
for p in food_names:
    print("%%% food_names is %%%",p)

%%% food_names is %%% chicken
%%% food_names is %%% mutton
%%% food_names is %%% francebiryani
%%% food_names is %%% fishfry
%%% food_names is %%% eggfry
%%% food_names is %%% chicken biryani
%%% food_names is %%% mutton biryani
%%% food_names is %%% crab curry
%%% food_names is %%% france fry
%%% food_names is %%% egg biryani

In [17]:
#10. Create a set(colour_names) with your colour names(atleaste 10 names)?
#print all names with in loop

In [18]:
colour_names={"pink","blue","red","green","yellow","white","black","orange","grey","purple"}
for p in colour_names:
    print("&&& colour_names is &&&",p)

&&& colour_names is &&& grey
&&& colour_names is &&& blue
&&& colour_names is &&& purple
&&& colour_names is &&& white
&&& colour_names is &&& green
&&& colour_names is &&& pink
&&& colour_names is &&& yellow
&&& colour_names is &&& red
&&& colour_names is &&& orange
&&& colour_names is &&& black

In [2]:
 #Create a list(month_names) with your month names(atleaste 10 names)?
#print all names with in loop

In [2]:
month_names=["january","february","march","april","may","june","july","august","september","october","november","december"]
for p in month_names:
    print("^^^ month_names is ^^^",p)

^^^ month_names is ^^^ january
^^^ month_names is ^^^ february
^^^ month_names is ^^^ march
^^^ month_names is ^^^ april
^^^ month_names is ^^^ may
^^^ month_names is ^^^ june
^^^ month_names is ^^^ july
^^^ month_names is ^^^ august
^^^ month_names is ^^^ september
^^^ month_names is ^^^ october
^^^ month_names is ^^^ november
^^^ month_names is ^^^ december

In [ ]:
# print 9th table (1 to 90)

In [8]:
range(1,90,9)
for p in range(0,91,9):
    print(p)

0
9
18
27
36
45
54
63
72
81
90

In [ ]:
# print(12th table (1 to 120)

In [7]:
range(1,120,12)
for p in range(0,121,12):
    print(p)

0
12
24
36
48
60
72
84
96
108
120

In [1]:
 #print(1th table (1 to 110)

In [3]:
range(1,111,11)
for p in range(0,111,11):
    print(p)

0
11
22
33
44
55
66
77
88
99
110

In [5]:
#sister and brother=['himaja','jahnavi','chinnari','rajita','ammulu','raja','samba','venkat']
#relation=['sister','sister','elder sister','younger sister','sisters','brother','elder brother','younger brother']

In [1]:
sisters=['himaja','jahnavi','chinnari','rajita','ammulu']
relation=['sister','sister','elder sister','younger sister','sisters']
for sis in sisters:
    print("my sisters are",sis)
for r in relation:
    print("relations are",r)

my sisters are himaja
my sisters are jahnavi
my sisters are chinnari
my sisters are rajita
my sisters are ammulu
relations are sister
relations are sister
relations are elder sister
relations are younger sister
relations are sisters